.begin{
    background-image: url(/home/katerina/Documents/Moringa-School-Projects/projects/photography-website/img/check.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   }

.topnav {
    background-color: rgb(70, 27, 172);
    overflow: hidden;
    float: right;

  }
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  .topnav a:hover {
    background-color: rgb(39, 151, 39);
    color: rgb(199, 22, 22);
    }
    .topnav a.active {
        background-color:whitesmoke;
        color:black;
       }
    .pit {
      font-size:xx-large;
      font-style: italic;
      color: rgb(247, 244, 232);
    }
    h1{
      color: rgb(33, 48, 48);
      text-align: center;
    }
    .shi{
      background-color: rgb(202, 202, 226);
        text-align: left;
        font-size: xx-large;
        margin-left: 300px;
        margin-right: 300px;
    }
    .chip{
      color: rgb(164, 206, 206);
      text-align: center;

    }